<div class ="container px5 px-sm-0">
 <div class = "row">
 <%= render 'error',book: @book %>
<%= render 'users/sidebar', book: @book_new, user: @user %>

  <div class = "col-md-8 offset-md-1">
    <h1>Book detail</h1>
     <table class ="table table-hover table-inverse">
       <tbody>
        <tr>
          <td><%= link_to user_path(@book.user_id) do %>
              <%= image_tag @book.user.get_profile_image %><br>
              <%= link_to @book.user.name%></br>
              <% end %>
          </td>
          <td><%= link_to @book.title, book_path%></td>
          <td><%= @book.body %></td>
           <% if @user == current_user %>
           <td><%= link_to"Edit",edit_book_path(@book.id), class: "btn btn-sm btn-success"%></td>
           <td><%= link_to"Destroy",book_path(@book.id), class: "btn btn-sm btn-danger",method: :delete %></td>
        </tr>
           <% end %>
       </tbody>
      </table>
   </div>
  </div>
</div>

