<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div><a href ="/">Bookers</a></div>
    <% if user_signed_in? %>
    <li><%= link_to "Home", user_path(current_user.id) %></li><!--ユーザー詳細投稿画面-->
    <li><%= link_to "Users",users_path %></li>
    <li><%= link_to "Books", books_path %></li>
    <li>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <li><a href = "/">Home</a></li>
    <li><%= link_to "About",about_path %></li>
    <li>
      <%= link_to "Sign Up", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "Log in", new_user_session_path %>
    </li>
    <% end %>
    </header>
    <main>
      <p><%= flash[:create] %></p>
      <p><%= flash[:update] %></p>
      <p><%= flash[:destroy] %></p>
      <p><%= flash[:user_update] %></p>
      <% if notice %>
　　<p><%= notice %></p>
<% end %>
<% if alert %>
   <p><%= alert %></p>
<% end %>

    </main>

    <%= yield %>
    <footer>
      <div><div>
        <p>CopyRight Infratop.inc</p>
      </div>
      </div>
    </footer>
  </body>
</html>
